.albumize_gallery_hor {
float: left;
width: 100%;
margin: 2px 2px 2px 2px;
border: 1px solid;
}

.albumize_thumb_hor img{
border: 3px solid;
margin-right: 3px;
float: left;
padding: 0 0 0 0;
}

.albumize_thumb_hor img:hover {
border: 3px solid gray;
}

.albumize_title_hor  {
font-size: 150%;
}

.albumize_desc_hor  {
padding: 0 0 3px 3px;
}

.albumize_count_hor  {
font-weight: bold;
}

.albumize_gallery_vert {
width: 160px;
height:275px;
float:left;
font-size:10px;
/*line-height:14px;*/
padding:5px;
margin:2px;
background:#fff;
border:dashed 1px #dfdfdf;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
}

.albumize_gallery_vert:hover {
background:#eee;
border:dashed 1px #ccc;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
}

.albumize_thumb_vert {
margin-bottom:5px; 
text-align:center;
}

.albumize_thumb_vert img{
border: 1px solid black;
}

.albumize_title_vert  {
margin-bottom:3px;
font-family:Georgia, "Times New Roman", Times, serif; 
font-size:12px;
}

.albumize_desc_vert  {

}

.albumize_count_vert  {
font-weight: bold;
}